{% extends 'base.html.twig' %}

{% block title %}La Billetterie{% endblock %}

{% block body %}

    <body class="text-center">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    3eme étape - Le Panier
                </div>
                <div class="card-block">

                        {#<table class="table-primary table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nombre de Tickets</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date</th>
                                <th scope="col">Ticket</th>
                                <th scope="col">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">{{ order.quantite }}</th>
                                <td>{{ order.type }}</td>
                                <td>{{ order.date|date("d-m-y") }}</td>
                                <td>{{ order.tickets }}</td>
                                <td>{{ order.totalPrice }} €</td>
                            </tr>
                            </tbody>
                        </table>#}

                            <p>Nombre de Tickets : {{ order.quantite }}</p>
                            <p>Pour la {{ order.type }} du {{ order.date|date("d-m-y") }}</p>
                            {% for ticket in order.tickets %}
                                {{ ticket.firstName }}
                            {% endfor %}
                            <br><p>Total du panier : {{ order.totalPrice }} €.</p>

                    <button type="submit" class="btn btn-primary">Paiement Stripe</button>

                </div>
            </div>
        </div>
    </body>

{% endblock %}