{% extends 'base.html.twig' %}

{% block title %}La Billetterie{% endblock %}

{% block body %}

<body class="text-center">
    {{ form_start(form) }}
    <div class="container">
        <div class="card">
            <div class="card-header">
                Première étape
            </div>
            <div class="card-block">

                <div class="form-group">
                    {{ form_row(form.date) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.billet_type) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.billet_number) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.from) }}
                </div>
                <button type="submit" class="btn btn-primary">Ajouter</button>

            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}

