{% extends 'base.html.twig' %}

{% block title %}La Billetterie{% endblock %}

{% block body %}

    <body class="text-center">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    3eme étape - Le Panier
                </div>
                <div class="card-block">

                        <table class="table table-hover">
                            <thead class="table-primary">
                            <tr>
                                <th scope="col">Nombre de Tickets</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date</th>
                                <th scope="col">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">{{ order.quantite }}</th>
                                <td>{{ order.type }}</td>
                                <td>{{ order.date|date("d-m-y") }}</td>
                                <td>{{ order.totalPrice }} €</td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="table table-hover">
                            <thead class="table-danger">
                            <tr>
                                <th scope="col">Prénom</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Pays</th>
                                <th scope="col">Date de naissance</th>
                                <th scope="col">Réduction</th>
                                <th scope="col">Prix</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for ticket in order.tickets %}
                                    <td>{{ ticket.firstName }}</td>
                                    <td>{{ ticket.lastName }}</td>
                                    <td>{{ ticket.country }}</td>
                                    <td>{{ ticket.birthday|date("d-m-y") }}</td>
                                    <td>{{ ticket.rate }}</td>
                                    <td>{{ ticket.price }} €</td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>

                    <form action="{{ path('basket') }}" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_zSFZWOeL3K8JsZTWvcrgHJMr"
                                data-amount="{{ order.totalPrice * 100 }}"
                                data-name="Musee Louvre Ticket"
                                data-description="Widget"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto">
                        </script>
                    </form>

                </div>
            </div>
        </div>
    </body>

{% endblock %}