{% extends 'base.html.twig' %}

{% block title %}La Billetterie{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Conditions</h4>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <hr>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info text-left">Tout les champs doivent être rempli.</li>
                <li class="list-group-item list-group-item-info text-left">Un maximum de 10 billets par commande est autorisé, veuillez passer par le formulaire de contact pour plus de renseignements.</li>
                <li class="list-group-item list-group-item-info text-left">Un maximum de 1000 billets par jour peuvent être vendus.</li>
                <li class="list-group-item list-group-item-info text-left">Il n'est pas possible de commander un billet "Journée" pour le jour même une fois 14h00(UTC+1) passé.</li>
                <li class="list-group-item list-group-item-info text-left">Le musée est fermé les Mardi et Dimanches ainsi que les jours fériés suivants : <br>
                    1er janvier<br>
                    Fête du travail<br>
                    Victoire des alliés<br>
                    Fête nationale<br>
                    Assomption<br>
                    Toussaint<br>
                    Armistice<br>
                    Noel
                </li>
            </ul>
        </div>
    </div>

    <body class="text-center">

        {{ form_start(form) }}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    La Billeterie
                </div>
                <div class="card-block">

                    <div class="form-group">
                        {{ form_row(form.date) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.type) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.quantite) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>

                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </body>
{% endblock %}

