{% extends 'base.html.twig' %}

{% block title %}Formulaire de Contact{% endblock %}

{% block body %}

	<body class="text-center">

			{# Formulaire de contact #}
			{{ form_start(form) }} 
			<div class="container">
    			<div class="card">
        			<div class="card-header">
            			Veuillez remplir le formulaire
        			</div>
        			<div class="card-block">

        					<div class="form-group">
        						{{ form_row(form.username) }}
        					</div>
        					<div class="form-group">
        						{{ form_row(form.from) }}
        					</div>
        					<div class="form-group">
        						{{ form_row(form.message) }}
        					</div>
        					<button type="submit" class="btn btn-primary">Envoyer</button>

        			</div>
    			</div>
			</div>
			{{ form_end(form) }}
	</body>

{% endblock %}
