{% extends 'Email/base.html.twig' %}

{% block body %}
<span class="preheader"></span>

<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center data-parsed="">
                <style type="text/css" align="center" class="float-center">
                    body,
                    html,
                    .body {
                        background: #f3f3f3 !important;
                    }
                </style>

                <table class="spacer float-center">
                    <tbody>
                    <tr>
                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                    </tr>
                    </tbody>
                </table>
                <table align="center" class="container float-center">
                    <tbody>
                    <tr>
                        <td>
                            <table class="spacer">
                                <tbody>
                                <tr>
                                    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="row">
                                <tbody>
                                <tr>
                                    <th class="small-12 large-12 columns first last">
                                        <table>
                                            <tr>
                                                <th>
                                                    <h1>Merci pour votre commande sur musee-louvre</h1>
                                                    <p>Si vous constatez un soucis d'affichage ou autre avec cet email, n'hésitez pas à passer par le formulaire de contact du site.</p>
                                                    <table class="spacer">
                                                        <tbody>
                                                        <tr>
                                                            <td height="16px" style="font-size:16px;line-height:16px;">
                                                                &#xA0;
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="callout">
                                                        <tr>
                                                            <th class="callout-inner secondary">
                                                                <table class="row">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th class="small-12 large-6 columns first">
                                                                            <table>
                                                                                <tr>
                                                                                    <th>
                                                                                        <p>
                                                                                            <strong>Méthode de paiement</strong><br>
                                                                                            Stripe
                                                                                        </p>
                                                                                        <p>
                                                                                            <strong>Email associé</strong><br>
                                                                                            {{ order.email }}
                                                                                        </p>
                                                                                        <p>
                                                                                            <strong>Référence de commande</strong><br>
                                                                                            {{ order.ref }}
                                                                                        </p>
                                                                                    </th>
                                                                                </tr>
                                                                            </table>
                                                                        </th>
                                                                        <th class="small-12 large-6 columns last">
                                                                            <table>
                                                                                <tr>
                                                                                    <th>
                                                                                        <p>
                                                                                            <strong>Date des billets</strong><br>
                                                                                            {{ order.date|date("d-m-y") }}
                                                                                        </p>
                                                                                    </th>
                                                                                </tr>
                                                                            </table>
                                                                        </th>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                            <th class="expander"></th>
                                                        </tr>
                                                    </table>
                                                    <h4>Détail de commande</h4>
                                                    <table>
                                                        <tr>
                                                            <th>Nom, Prénom</th>
                                                            <th>Pays</th>
                                                            <th>Date de naissance</th>
                                                            <th>Réduction</th>
                                                            <th>Prix</th>
                                                        </tr>
                                                        {% for ticket in order.tickets %}
                                                            <tr>
                                                                <td>{{ ticket.firstName }} {{ ticket.lastName }}</td>
                                                                <td>{{ ticket.country }}</td>
                                                                <td>{{ ticket.birthday|date("d-m-y") }}</td>
                                                                <td>{{ ticket.reduce }}</td>
                                                                <td>{{ ticket.price }} €</td>
                                                            </tr>
                                                        {% endfor %}
                                                        <tr>
                                                            <td colspan="2"><b>Total TTC :</b></td>
                                                            <td>{{ order.totalPrice }}</td>
                                                        </tr>
                                                    </table>
                                                    <hr>
                                                    <h4>Prochaine étape ?</h4>
                                                    <p>Rendez-vous à l'entrée Online du Musée muni de l'email présent sur votre smartphone/tablette ou autre support ainsi que des cartes d'identités associés.
                                                       Toutes les informations concernant les billets doivent être visibles pour l'agent chargé des vérifications à l'entrée.
                                                    </p>
                                                </th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                            <table class="row footer text-center">
                                <tbody>
                                <tr>
                                    <th class="small-12 large-3 columns first">
                                        <table>
                                            <tr>
                                                <th>
                                                    <img src="{{ asset('min_mail.jpg') }}" class="img-fluid" alt="Responsive image">
                                                </th>
                                            </tr>
                                        </table>
                                    </th>
                                    <th class="small-12 large-3 columns">
                                        <table>
                                            <tr>
                                                <th>
                                                    <p>
                                                        Contactez nous depuis le site LIEN
                                                    </p>
                                                </th>
                                            </tr>
                                        </table>
                                    </th>
                                    <th class="small-12 large-3 columns last">
                                        <table>
                                            <tr>
                                                <th>
                                                    <p>
                                                        Le musée Rue de Rivoli,<br>
                                                        75001 Paris
                                                    </p>
                                                </th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
</table>

<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>
{% endblock %}